@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar-icon {
    @apply relative mx-auto mt-2 flex h-12 w-12 items-center 
            justify-center text-icon-purple
            hover:rounded-md hover:bg-slate-200 hover:text-black;
  }
}

/* 
  Note: The styles for this gradient grid background is heavily inspired by the creator of this amazing site (https://dub.sh) – all credits go to them! 
*/

:root {
  /* colors */
  --clr-purple-1: #562685;
  --clr-primary: rgb(30, 174, 47);
  --clr-gray-02-70: #757575;
  --clr-gray-100: #242424;
  --clr-gray-02-100: #0a0a0a;
  --clr-ghostwhite-100: #f6f6ff;
  --clr-purple-1: #694df9;
  --clr-blueviolet-100: rgba(124, 58, 237, 0.63);
  --clr-lavender-100: #e2e3fc;
  --clr-purple-primary-focus: #e2dcff;
  --primary-main: #5e47d2;
  --clr-dimgray-100: #616161;
  --clr-dimgray-200: #5b5b5b;
  --clr-dimgray-300: #575757;
  --clr-dimgray-400: #535353;
  --gray-02-10: #fff;
  --color-black: #000;
  --clr-indigo: #562685;
  --clr-success-main: #21725e;
  --clr-plum: #c7b9ff;

  /* Gaps 
   --gap-5xs: 8px;
  --gap-2xs: 11px;
  --gap-xs: 12px;

  /* Paddings  */
  /* --padding-5xs: 8px;
  /* --padding-base: 16px; 
  --padding-10xs: 3px;
  --padding-9xl: 28px;
  --padding-11xs-4: 1.4px;
  --padding-12xs-8: 0.8px;
  --padding-7xs: 6px;
  --padding-8xs-5: 4.5px;
  --padding-2xl-2: 21.2px;
  --padding-10xs-8: 2.8px;
  --padding-xs: 12px;
  --padding-93xl: 112px; */

  /* border radiuses */
  /* --br-9xs: 4px; */
  /* --br-3xs: 10px; */
  /* --br-8xs: 5px; */
  /* --br-6xs: 7px; */
  /* --br-sm: 14px; */
  /* --br-mini: 15px; */
}
.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.main:before {
  background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%);
  position: absolute;
  content: '';
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.main:after {
  content: '';
  /* background-image: url("/assets/images/grid.svg"); */
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
}

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(261, 73%, 60%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(268, 76%, 66%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(278, 75%, 69%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(293, 100%, 63%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(312, 66%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(261, 51%, 78%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(282, 82%, 58%, 1) 0px, transparent 50%);
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15;
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

/* Tailwind Styles */
.customAlertBox {
  background-color: #fdeded;
  border: 1px solid #e63c3c;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.customAlertBox h3 {
  margin: 0;
  padding-bottom: 10px;
  font-size: 18px;
}
.app {
  @apply relative z-10 mx-auto flex max-w-7xl flex-col items-center justify-center px-6 sm:px-16;
}
.dashboard {
  @apply relative z-10 mx-0 flex flex-col items-center justify-center;
}
.black_btn {
  @apply flex items-center justify-center rounded-full border border-black bg-black px-5 py-1.5 text-center font-inter text-sm text-white transition-all hover:bg-white hover:text-black;
}

.purple_btn {
  @apply flex items-center justify-center rounded-full border border-purple-500 bg-purple-700 px-5 py-1.5 text-center font-inter text-sm text-white transition-all hover:bg-white hover:text-purple-500;
}

.blue_btn {
  @apply flex items-center justify-center rounded-full border border-blue-300 bg-blue-500 px-5 py-1.5 text-center font-inter text-sm text-white transition-all hover:bg-white hover:text-blue-500;
}

.outline_btn {
  @apply flex items-center justify-center rounded-full border border-black bg-transparent px-5 py-1.5 text-center font-inter text-sm text-black transition-all hover:bg-black hover:text-white;
}

.head_text {
  @apply mt-5 text-5xl font-extrabold leading-[1.15] text-black sm:text-6xl;
}

.orange_gradient {
  @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
}

.purple_gradient {
  @apply bg-gradient-to-r from-purple-500 via-indigo-600 to-blue-400 bg-clip-text text-transparent;
}

.green_gradient {
  @apply bg-gradient-to-r from-green-400 to-green-500 bg-clip-text text-transparent;
}

.blue_gradient {
  @apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
}

.desc {
  @apply mt-5 max-w-5xl text-lg text-gray-600 sm:text-xl;
}

.search_input {
  @apply block w-full rounded-md border border-gray-200 bg-white py-2.5 pl-5 pr-12 font-satoshi text-sm font-medium shadow-lg focus:border-black focus:outline-none focus:ring-0;
}

.copy_btn {
  @apply flex h-7 w-7 cursor-pointer items-center justify-center rounded-full bg-white/10 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur;
}
.reminder_btn {
  @apply mb-4 rounded border border-violet-500 bg-transparent px-4 py-2 font-semibold text-violet-800 transition-all duration-[150ms] ease-out hover:border-transparent hover:bg-violet-500/50 hover:text-purple-950;
}
.glassmorphism {
  @apply rounded-xl border border-gray-200 bg-white/20 p-5 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur;
}

.prompt_layout {
  @apply space-y-6 py-8 sm:columns-2 sm:gap-6 xl:columns-3;
}

/* Feed Component */
.feed {
  @apply mx-auto mt-16 flex w-full max-w-xl flex-col items-center justify-center gap-2;
}

/* Form Component */
.form_textarea {
  @apply mt-2 flex h-[200px] w-full rounded-lg p-3 text-sm text-gray-500 outline-0;
}

.form_input {
  @apply mt-2 flex w-full rounded-lg p-3 text-sm text-gray-500 outline-0;
}

/* Nav Component */
.logo_text {
  @apply bg-gradient-to-r from-purple-800 via-purple-400 to-purple-700 bg-clip-text font-satoshi text-lg font-semibold tracking-wide text-transparent max-sm:hidden;
}

.dropdown {
  @apply absolute right-0 top-full mt-3 flex w-full min-w-[210px] flex-col items-end justify-end gap-2 rounded-lg bg-white p-5;
}

.dropdown_link {
  @apply font-inter text-sm font-medium text-gray-700 hover:text-gray-500;
}

/* PromptCard Component */
.prompt_card {
  @apply h-fit w-full flex-1 break-inside-avoid rounded-lg border border-gray-300 bg-white/20 bg-clip-padding p-6 pb-4 backdrop-blur-lg backdrop-filter md:w-[360px];
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-start {
  @apply flex items-start justify-start;
}

.flex-end {
  @apply flex items-center justify-end;
}

.flex-between {
  @apply flex items-center justify-between;
}

.gradient-border {
  position: relative;
}
.gradient-border::before,
.gradient-border::after,
.gradient-border > .left-gradient,
.gradient-border > .right-gradient {
  border-radius: 50%;
}

.gradient-border::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: linear-gradient(to right, white, #6a5acd, white);
}

.gradient-border::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: linear-gradient(to right, white, #6a5acd, white);
}

.gradient-border > .left-gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 3px;
  background: linear-gradient(to bottom, white, #e58da9, white);
}

.gradient-border > .right-gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 3px;
  background: linear-gradient(to bottom, white, #e58da9, white);
}

/* Active/Alert border styles */
.gradient-border.alert::before,
.gradient-border.alert::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: linear-gradient(
    to right,
    rgb(255, 255, 255),
    rgb(220, 21, 21),
    rgb(255, 255, 255)
  );
}
.gradient-border.alert > .left-gradient,
.gradient-border.alert > .right-gradient {
  /* Change the colors to make it more noticeable, e.g., a brighter or contrasting color */
  background: linear-gradient(
    to bottom,
    rgb(255, 255, 255),
    rgb(220, 21, 21),
    rgb(255, 255, 255)
  );
  border-radius: 50%;
}
